/*
** Primary: #00EAAD; bright green
** Secondary: #9146de; purple
** tert: #df5244; retro red
** Refactor Design
** 1. HTML sections
** 2. Make diagonal section borders (https://www.youtube.com/watch?v=kmVn9BgcM48)
** 3. Make Sortable project categories
**
*/


/**
*** BASIC RESET
*/

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  font-size: 16px;
  font-family: 'Fira Mono', monospace, sans-serif;
  margin: 0;
}

div {
  margin-bottom: 40px;
}

footer {
  background-color: #333;
  color: #B5B5B5;
  padding: 20px 0;
  text-align: center;
}

hr {
  margin-bottom: 10px;
  margin-top: 0;
  border: none;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker', cursive, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  /*margin-bottom: 20px;*/
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: #B5B5B5;
}

a:hover {
  font-size: 1.01em;
  font-weight: bold;
  border-bottom: 5px double #df5244;
}

a:active {
  color: #df5244;
}

img {
  max-width: 100%;
  height: auto;
}


/* Make the nav take up the whole body width, and give it some top and bottom margin space */

nav {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  position: relative;
}


/* Make the list of links take up the whole width of the nav */

.navbar {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px;
}

.nav-item {
  display: inline;
  float: left;
}

.nav-item a {
  display: inline-block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nav-item:last-child a {
  border-right: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
*/

.about-container {
  /*
  ** his image has empty space on left:
  ** background: url(assets/home-header-bg-2.jpg) no-repeat center center fixed;
  */
  background: url('../assets/home-header-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #333;
  background-blend-mode: overlay;
  height: 90vh;
}

.hero-title {
  color: #fff;
  font-size: 55px;
  margin: 0;
}

.hero-subtitle {
  color: #fff;
  font-size: 20px;
}

.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: #fff;
  margin-top: 40px;
}

.about {
  color: #fff;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}


/*.social img {
  color: #fff;
  height: 60px;
  width: 60px;
}*/

a.svg {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px
}

.svg:hover {
  transform: scale(1.2);
  border-bottom: none;
}

.svg {
  transition: all .25s;
  transform-origin: 50% 50%;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
}

.hr--green {
  width: 200px;
  border-top: 5px double #00EAAD;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 40px;
}

.clear {
  clear: both;
}
